################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Coursendze/FileContentIndex/56c0915f-037a-4291-8e3b-44604af78f48.vsidx
/.vs/Coursendze/FileContentIndex/5f59f020-dab0-4c39-99b6-e233a162f633.vsidx
